/*stylesheet*/

body {
	margin: 0;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

#masthead {
	background-color: #d6d6d6;
}

#nav {
	background: #d6d6d6;
}

#logo {
	padding: 2px;
	padding-top: 10px;
}

#logo a {
	color: var(--body-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;

}

#logo svg {
	width: 20%;
	margin: 0 auto;

}